test_result_calculation --backup.py
__pycache__
.dockerignore
Dockerfile
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git/
.gitignore
.vscode/
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.db
*.sqlite
query.txt
query